---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const employees = await getCollection("employees");
---

<div class="accordion">
  <div class="accordion__item">
    <input id="accordion__trigger-1" class="accordion__trigger-input" type="checkbox" />
    <label class="accordion__trigger" for="accordion__trigger-1">OUR TEAM</label>
    <div class="accordion__content flow">
      {
        employees.map((entry) => (
          <div class="employee">
            <figure>
              <Image class="project__img" src={entry.data.thumb} alt="" width={320} />
            </figure>
            <div class="employee__name">{entry.data.name}</div>
            <div class="employee__position">{entry.data.position}</div>
            <div class="employee__email">
              <a href="mailto:mail">{entry.data.email}</a>
            </div>
            <div class="employee__phone">
              <a href={`tel:${entry.data.phone}`}>{entry.data.phone}</a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="accordion__item">
    <input id="accordion__trigger-3" class="accordion__trigger-input" type="checkbox" />
    <label class="accordion__trigger" for="accordion__trigger-3">OUR SERVICES</label>
    <div class="accordion__content flow">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Est placerat in egestas erat imperdiet. Pharetra massa massa ultricies mi quis hendrerit dolor
        magna eget. Amet mattis vulputate enim nulla aliquet porttitor lacus. Pulvinar mattis nunc sed blandit libero
        volutpat sed cras ornare. Morbi tincidunt ornare massa eget egestas purus. Integer quis auctor elit sed
        vulputate mi sit. Aliquam id diam maecenas ultricies mi eget mauris.
      </p>
    </div>
  </div>
  <div class="accordion__item">
    <input id="accordion__trigger-2" class="accordion__trigger-input" type="checkbox" />
    <label class="accordion__trigger" for="accordion__trigger-2">CONTACT</label>
    <div class="accordion__content flow">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Est placerat in egestas erat imperdiet. Pharetra massa massa ultricies mi quis hendrerit dolor
        magna eget. Amet mattis vulputate enim nulla aliquet porttitor lacus. Pulvinar mattis nunc sed blandit libero
        volutpat sed cras ornare. Morbi tincidunt ornare massa eget egestas purus. Integer quis auctor elit sed
        vulputate mi sit.
      </p>
    </div>
  </div>
</div>

<style>
  .accordion {
    display: flex;
    flex-direction: column;
    margin-block: var(--spacer-l);
  }
  .accordion__item {
    border-top: 1px solid;
    overflow: hidden;
    padding-block: var(--spacer-xs);
  }

  .accordion__trigger-input {
    display: none;
  }

  .accordion__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    padding-block: var(--spacer-xs);
  }

  .accordion__trigger::after {
    font-family: var(--ff-body);
    content: "+";
    transition: transform var(--ease-m) ease-out;
  }

  .accordion__trigger-input:checked ~ .accordion__trigger::after {
    transform: rotate(135deg);
    color: red;
  }

  .accordion__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    align-items: end;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--ease-m) ease-out;
  }

  .accordion__trigger-input:checked ~ .accordion__content {
    max-height: 1000px;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0) var(--ease-xs);
  }
</style>
